* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  overflow: hidden;
  height: 100vh;
  background-color: #f8f8f8;
  grid-template-rows: 80px 1fr;
}
