*:focus {
  outline: none;
}

.organizations-list {
  list-style-type: none;

  &__section_closed {
    height: 60px;
    line-height: 25px;
  }

  &__item {
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1em;
    overflow-y: hidden;
    font-size: 12px;
    display: grid;
    grid-template-columns: 6fr 120px;
    grid-gap: 5px;
    margin-bottom: 20px;

    &-details {
      font-size: 12px;
      margin-top: 10px;

      span {
        color: #777777;
        padding-right: 8px;
      }
    }

    &-actions {
      display: grid;
      grid-template-rows: 1fr 20px;

      .trash {
        justify-self: end;
        background-color: inherit;
        border: none;
        height: 2em;
      }

      .more {
        background-color: inherit;
        border: none;
        color: #777777;
        font-size: 10px;
        justify-self: end;

        span {
          margin-right: 10px;
          text-decoration: underline;
        }

        &__img.more_img_open {
          transform: rotate(180deg);
        }
      }
    }

    &__img.more_img_open:focus {
      outline: none;
    }

    &_closed {
      max-height: 80px;
    }
  }
}
